<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add connectionString="data source=.;initial catalog=LamResearchTrainingDB;integrated security=sspi;"
         providerName="System.Data.SqlClient"
         name="CustomersDB"/>
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="mex" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomerServiceBinding" maxReceivedMessageSize="10485760">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="CustomerServiceBehavior" name="Lam.Libraries.SOA.Impl.CustomerService">
        <endpoint address="CustomerServices" binding="wsHttpBinding"
          bindingConfiguration="CustomerServiceBinding" name="CustomerServiceEndpoint"
          contract="Lam.Libraries.SOA.Contracts.Services.ICustomerService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://ramthinkpad:8989" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>