<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Lam.Libraries.Stocks.Interfaces" />
  <assembly name="Lam.Libraries.Stocks.Impl" />
  <assembly name="Lam.Libraries.CreditCards.Interfaces" />
  <assembly name="Lam.Libraries.CreditCards.Impl" />
  <assembly name="Lam.Libraries.DBStore.Interfaces" />
  <assembly name="Lam.Libraries.DBStore.Impl" />
  <assembly name="Lam.Libraries.Orders.Interfaces" />
  <assembly name="Lam.Libraries.Orders.Impl" />

  <namespace name="Lam.Libraries.Stocks.Interfaces" />
  <namespace name="Lam.Libraries.Stocks.Impl" />
  <namespace name="Lam.Libraries.CreditCards.Interfaces" />
  <namespace name="Lam.Libraries.CreditCards.Impl" />
  <namespace name="Lam.Libraries.DBStore.Interfaces" />
  <namespace name="Lam.Libraries.DBStore.Impl" />
  <namespace name="Lam.Libraries.Orders.Interfaces" />
  <namespace name="Lam.Libraries.Orders.Impl" />

  <container>
    <register type="IStockVerifier" mapTo="StockVerifierImpl" />
    <register type="ICreditCardValidator" mapTo="VisaCreditCardValidator" />
    <register type="IDbStore" mapTo="DbStoreImpl" />
    <register type="IOnlineOrderProcessor" mapTo="OnlineOrderProcessorImpl" />
  </container>
</unity>