<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomerServiceEndpoint" maxReceivedMessageSize="10485760">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ramthinkpad:8989/CustomerServices"
                binding="wsHttpBinding" bindingConfiguration="CustomerServiceEndpoint"
                contract="CRMSystem.ICustomerService" name="CustomerServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>