<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <connectionStrings>
    <add connectionString="data source=.;initial catalog=LamResearchTrainingDB;user id=sa;password=Prestige;" providerName="System.Data.SqlClient" name="CustomersDB" />
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomerServiceRESTEndpointBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json"
            faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CustomerServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="CustomerServiceRESTBinding" maxBufferSize="10240000"
          maxReceivedMessageSize="10240000" />
      </webHttpBinding>
    </bindings>

    <services>
      <service name="Lam.Libraries.SOA.Impl.CustomerService" behaviorConfiguration="CustomerServiceBehavior">
        <endpoint behaviorConfiguration="CustomerServiceRESTEndpointBehavior"
          binding="webHttpBinding" bindingConfiguration="CustomerServiceRESTBinding"
          name="CustomerServiceRESTEndpoint" contract="Lam.Libraries.SOA.Contracts.Services.ICustomerService" />
      </service>
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>

</configuration>
